* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;

}

nav a {
    color: white;
    font-size: 2em;
    padding: .5em .5em;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 72em;
    margin: auto;
}

button {
    max-width: 24em;
    margin-left: 24em;
}
